{% extends 'base.html.twig' %} {% block title %} Offres d'emplois {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}

<h1 class="titre">Si vous souhaitez nous rejoindre, c'est par ici!</h1>

<p class="light">
  Si aucun de nos emplois proposés ne correspond à vos compétences, n'hésitez pas à nous envoyer votre CV ainsi qu'une
  lettre de motivation à l'adresse suivante :
  <a href="mailto:contact@davidlange.fr" target="_blank">contact@davidlange.com</a> en précisant dans l'objet de votre
  email -- Candidature Spontanée -- .
</p>

<ul>
  {% for emploi in emplois %}
  <li>
    <a href="{{ path('vue_emploi', { id: emploi.id }) }}" class="liste">{{ emploi.titre }}</a>
  </li>
  {% endfor %}
</ul>

{% include 'menu/_footer.html.twig' %} {% endblock %}
