* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 30px;
  padding: 0;
  max-width: 100%;
  height: auto;
  background-color: black;
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
}

.header {
  width: 100%;
  height: 200px;
}

.acces {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.acces img {
  vertical-align: middle;
}

a.linkacces {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px 0;
}

.iconacces {
  margin-left: 10px;
}

.bandeau {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 300px;
  height: auto;
}

nav.navbar {
  max-width: 100%;
  text-align: right;
  text-transform: uppercase;
  align-items: center;
}

ul.nav {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}

.menu {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-style: bold;
  margin-left: 100px;
}

.btn-shop {
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.icon-shop {
  margin: 5px 10px;
}

a.shop {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2.6em;
  font-weight: lighter;
  line-height: 2em;
}



h1.titre{
  text-align: center;
}
h1.titre-home{
  line-height: 2.6em;

  letter-spacing: 0.3em;
  font-size: 3em;
}

h2{
  font-size: 2.2em;
}

h3{
  font-size: 1.8em;
  font-style: italic;

}

p{
  font-size: 1.6em;
  line-height: 2em;
  margin: 0 0 50px 50px;
}

a{
  color: #cfb44f;
}

.center{
  text-align: center;
}

.light{
  font-weight:lighter;
}

label{
  font-size: 1.4em;
}

.content-home{
  display: flex;
  justify-content: space-between;
}

.connexion{
  margin: 50px;
}

.carousel{
  max-width: 60%;
  height: auto;
}
  
.emploi{
  text-align: center;
}

.liste{
  font-size: 1.5em;
}
