{% extends 'base.html.twig' %}

{% block title %}
    Actualités
{% endblock %}

{% block body %}
    {% include 'menu/_header.html.twig' %}   
    
    <h1>Retrouvez l'ensemble de nos actualités</h1>

    {% if url1 is defined }

   

{% endblock %}
