{% extends 'base.html.twig' %} {% block title %} Contact {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}
<h1 class="center">Pour toute question, contactez nous…</h1>
<h3 class="center">Demande de devis, recherche d’emploi ou toute autre information :</h3>

<div class="company">
  <div class="contact">
    <div class="nom-entreprise adresse">MANUFACTURE DAVID LANGE</div>
    <div class="entite-juridique adresse">SAS DL INTERNATIONAL</div>
    <div class="rue adresse">ZA DE L’ETANG 58210 VARZY, France</div>
    <div class="tel adresse">Contact commercial : 02 97 32 58 45</div>
    <div class="mail adresse">Email : contact@davidlange.fr</div>
  </div>

  <img
    class="entreprise"
    src="/images/photos/entreprise David Lange dans son environement naturel entourée de nature.jpg"
    alt="entreprise David Lange dans son environement naturel entourée de nature"
  />
</div>
{% include 'menu/_footer.html.twig' %} 
{% endblock %}
