{% extends 'base.html.twig' %} {% block title %} Galerie photos {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}

<h1 class="titre">Retrouvez ici nos plus belles images...</h1>

<div class="container">
  <div class="rang">
    <div class="image-gal">
      <img
        src="images/photos/galerie/Colle_David Lange_Résine Acrylique.jpg"
        alt="Colle_David Lange_Résine Acrylique"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/homme de face avec visière de protection transparente qui perceunepièce de métal.jpg"
        alt="homme de face avec visière de protection transparente qui perceunepièce de métal"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/defonceuse dans une plaque de plexi.jpg"
        alt="defonceuse dans une plaque de plexi"
        class="gal"
      />
    </div>
  </div>
  <div class="rang">
    <div class="image-gal">
      <img
        
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/homme qui vernis un meuble au pistolet.jpg"
        alt="homme qui vernis un meuble au pistolet"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img


      
        src="images/photos/galerie/ensemble de pietements de meubles en bois  à trois pieds enchevêterés les uns dans les autres.jpg"
        alt="ensemble de pietements de meubles en bois  à trois pieds enchevêterés les uns dans les autres"
        class="gal"
      />
    </div>
  </div>
  <div class="rang">
    <div class="image-gal">
      <img
        src="images/photos/galerie/buste d'un travailleur qui enduit un meuble de colle.jpg"
        alt="buste d'un travailleur qui enduit un meuble de colle"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/deux hommes assemblent la structure d'un meuble ensemble.jpg"
        alt="deux hommes assemblent la structure d'un meuble ensemble"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/ensemble de cornières arrondies en bois blond.jpg"
        alt="ensemble de cornières arrondies en bois blond"
        class="gal"
      />
    </div>
  </div>
  <div class="rang">
    <div class="image-gal">
      <img
        src="images/photos/galerie/main gantée qui polie un meuble.jpg"
        alt="main gantée qui polie un meuble"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/mise en place d'une porte de meuble avec charnière.jpg"
        alt="mise en place d'une porte de meuble avec charnière"
        class="gal"
      />
    </div>
    <div class="image-gal">
      <img
        src="images/photos/galerie/une main tenant un petit boitier servant à verifier les commandes.jpg"
        alt="une main tenant un petit boitier servant à verifier les commandes"
        class="gal"
      />
    </div>
  </div>
</div>

{% include 'menu/_footer.html.twig' %} {% endblock %}
