{% extends 'base.html.twig' %}

{% block title %}
    Histoire
{% endblock %}

{% block body %}
    {% include 'menu/_header.html.twig' %}  
    <h1 class="titre">
        Notre histoire
    </h1> 
        <h2>Prologue: Les fondateurs</h2>
            <h3>Anne-Marie DAVID et Paul LANGE</h3>
                <p>Bohèmes, dans l’effervescence de la fin des années 1960, les deux créateurs s’intéressent à la matière transparente pour obtenir un mobilier transparent design, connue sous les noms de Plexiglas® et Altuglas® (marques déposées de PMMA). 
                <br>Dans leur atelier au fond d’une petite impasse parisienne, les deux amants dessinent des meubles aux lignes simples et évidentes. Ils donnent forme aux prototypes en profitant de la matière-structure, le «verre acrylique», pour faire entrer la lumière dans le mobilier.
                <br>Au salon Ateliers d’arts de France de 1969 (aujourd’hui plus connu sous le nom de "Maison et Objets"), ils présentent sept modèles. La séduction des premiers meubles transparents, inédits dans le paysage du design français, opère tout de suite. La table basse transparente, le porte-revue, la table gigogne, l’étagère, la coiffeuse, les deux lampes, tout est vendu. Quelques jours plus tard, l’engouement est tel qu’ils croulent sous les commandes. Trois ans s’écoulent ainsi : ils vendent des meubles, dépensent tout de suite, vendent des meubles, s’endettent... 
                </p>
            <h3>1969</h3>
                <p>Succès du mobilier transparent, les fondateurs créent la marque par l’association de leurs noms de famille, travaillent et dépensent sans relâche avant leur séparation
                </p>
            <h3>1972</h3>
                <p>Jacques Devaux, représentant dans une société travaillant le PMMA, investit et reprend la marque. La production débute à Varzy, puis un second site est ouvert en Bourgogne. David Lange devient leader en France. Jacques Devaux dirigera David Lange pendant encore 24 années.
                </p>
            <h3>1996</h3>
                <p>Jacques DEVAUX cède l’entreprise à l’investisseur parisien Georges Vaillant qui dirigera l'entreprise jusqu'en 2006
                </p>
            <h3>2005</h3>
                <p>La conception du Daquacryl® permet le dépôt d’un brevet de marque, assurant à l’entreprise une production inédite. Il s'agit d'une technique àbase de PPMA permettant de recouvrir des panneaux de bois. Le Daquacryl est une matière extrêmement brillante et possède une solidité à toutes épreuves. 
                    <a href="/actualités/Daquacryl">Pour plus d'informations sur le Daquacryl, vous pouvez consulter notre article.</a>
                </p>    
            <h3>2006</h3>
                <p>Acquisition par Christian Turrini, fondateur de la Maison Turrini, fabricant de mobilier Haut de Gamme en bois. Cedernier apprécie le matériau PMMA transparent dont la mise en œuvre est proche de celle du bois. De plus, il connaît le potentiel du Daquacryl® dont il souhaiterait destiner la production à l’éditeur Roche Bobois (pour lequel il fabrique déjà du mobilier dans sa manufacture bretonne).
                </p>    
            <h3>2010</h3>
                <p>Création de la boutique en ligne
                </p>    
            <h3>2012</h3>
                <p>Les deux ateliers sont réunis àVarzy pour n'en faire plus qu'un. 
                    La chaîne de production connait une transdormation majeure pas le passage en semi-industriel. A ce titre, plusieurs investissements sont effectués, notamment dans: 
                    <ul>
                        <li>
                            l'outillage
                        </li>
                        <li>
                            l'amélioration de l’ergonomie des postes de travail
                        </li>
                        <li>
                            et dans la fluidification de la communication au sein de l’atelier.
                        </li>
                    </ul>
                    La méthode Kaizen est alors mise en place.
                    Cette même année,David Lange obtient la certification environnementales et se voit également attribuer le label EPV.

                    Certification environnementale
                    Attribution du Label EPV
                    </p>    
            <h3>2013</h3>
                <p></p>    
            <h3>2015</h3>
                <p></p>    
            <h3>2016</h3>
                <p></p>    
            <h3>2019/h3>
                <p></p>    
            <h3>2021</h3>
                <p></p>    

{% endblock %}
