{% extends 'base.html.twig' %} {% block title %} Histoire {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}
<h1 class="titre">Notre histoire</h1>

<h2>Les fondateurs: Anne-Marie DAVID et Paul LANGE</h2>

<p>
  Bohèmes, dans l’effervescence de la fin des années 1960, les deux créateurs s’intéressent à la matière transparente
  pour obtenir un mobilier transparent design, connue sous les noms de Plexiglas® et Altuglas® (marques déposées de
  PMMA). <br />Dans leur atelier au fond d’une petite impasse parisienne, les deux amants dessinent des meubles aux
  lignes simples et évidentes. Ils donnent forme aux prototypes en profitant de la matière-structure, le «verre
  acrylique», pour faire entrer la lumière dans le mobilier. <br />Au salon Ateliers d’arts de France de 1969
  (aujourd’hui plus connu sous le nom de "Maison et Objets"), ils présentent sept modèles. La séduction des premiers
  meubles transparents, inédits dans le paysage du design français, opère tout de suite. La table basse transparente, le
  porte-revue, la table gigogne, l’étagère, la coiffeuse, les deux lampes, tout est vendu. Quelques jours plus tard,
  l’engouement est tel qu’ils croulent sous les commandes. Trois ans s’écoulent ainsi : ils vendent des meubles,
  dépensent tout de suite, vendent des meubles, s’endettent...
</p>

<ul class="timeline">
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">1960</span>
      </div>
      <div class="desc">Démarrage de la création de mobilier en PMMA par les fondateurs</div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">1969</span>
      </div>
      <div class="desc">
        Succès du mobilier transparent, les fondateurs créent la marque par l’association de leurs noms de famille,
        travaillent et dépensent sans relâche avant leur séparation
      </div>
    </div>
  </li>
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">1972</span>
      </div>
      <div class="desc">
        Jacques Devaux, représentant dans une société travaillant le PMMA, investit et reprend la marque. La production
        débute à Varzy, puis un second site est ouvert en Bourgogne. David Lange devient leader en France. Jacques
        Devaux dirigera David Lange pendant encore 24 années
      </div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">1996</span>
      </div>
      <div class="desc">
        Jacques DEVAUX cède l’entreprise à l’investisseur parisien Georges Vaillant qui dirigera l'entreprise jusqu'en
        2006
      </div>
    </div>
  </li>
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">2005</span>
      </div>
      <div class="desc">
        La conception du Daquacryl® permet le dépôt d’un brevet de marque, assurant à l’entreprise une production
        inédite. Il s'agit d'une technique àbase de PPMA permettant de recouvrir des panneaux de bois. Le Daquacryl® est
        une matière extrêmement brillante et possède une solidité à toutes épreuves. Pour plus d'informations sur le
        Daquacryl®, vous pouvez consulter
        <a class="link-yellow" href="/actualités/Daquacryl">notre article</a>
      </div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">2006</span>
      </div>
      <div class="desc">
        Acquisition de l'entreprise par Christian Turrini, fondateur de la Maison Turrini, fabricant de mobilier Haut de
        Gamme en bois. Ce dernier apprécie le matériau PMMA transparent dont la mise en œuvre est proche de celle du
        bois. De plus, il connaît le potentiel du Daquacryl® dont il souhaiterait destiner la production à l’éditeur
        Roche Bobois (pour lequel il fabrique déjà du mobilier dans sa manufacture bretonne)
      </div>
    </div>
  </li>
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">2010</span>
      </div>
      <div class="desc">Création de la boutique en ligne</div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">2012</span>
      </div>
      <div class="desc">
        Les deux ateliers sont réunis à Varzy pour n'en faire plus qu'un. La chaîne de production connait une
        transformation majeure par le passage en semi-industriel. A ce titre, plusieurs investissements sont effectués,
        notamment dans:l'outillage, l'amélioration de l’ergonomie des postes de travailet la fluidification de la
        communication au sein de l’atelier.
        <br />
        La méthode Kaizen est mise en place.
        <br />Cette même année, David Lange obtient la certification environnementale et se voit également attribuer le
        label EPV <a class="link-yellow" href="/actualités/label-EPV">(plus d'informations ici)</a>
      </div>
    </div>
  </li>
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">2013</span>
      </div>
      <div class="desc">
        David Lange devient le sponsor du Trimaran Arkéman-Région Aquitaine et réalise à cette occasion des bulles de
        protection en PMMA
      </div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">2014</span>
      </div>
      <div class="desc">Refonte de la boutique en ligne davidlange.com</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">2015</span>
      </div>
      <div class="desc">
        L'entreprise est présente au pavillon de France lors de l’Exposition Universelle de Milan, au titre des arts de
        la table, parmi une vingtaine des meilleurs artisans français labellisés EPV (cela grâce à nos portes bouteilles
        en PMMA). Nous participons également à la réalisation des 140 animaux de la COP21 en partenariat avec Arkéma,
        qui chemineront sur la Seine en péniche. Cette année encore, David Lange réalise des éléments nécessaires au
        monde de la voile avec par exemple les hublots de roof du bateau de course Safran, permettant au skipper de voir
        derrière la casquette (toit dans le cockpit) tout en étant à l’abri des paquets de mer générés par la vitesse du
        bateau
      </div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">2016</span>
      </div>
      <div class="desc">
        Renouvellement de l’expérience sur un Trimaran avec le Saint-Michel Vibrac, participant au Vendée Globe 2016
      </div>
    </div>
  </li>
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">2019</span>
      </div>
      <div class="desc">Reprise du groupe Turrini-David Lange par le groupe JAMES</div>
    </div>
  </li>
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">2021</span>
      </div>
      <div class="desc">Reprise du groupe Turrini-David Lange par Thomas GUINET, ancien PDG du groupe JAMES</div>
    </div>
  </li>
</ul>
{% include 'menu/_footer.html.twig' %} {% endblock %}
