{% extends 'base.html.twig' %} {% block title %} David Lange : Le spécialiste du thermoformage et des résines acryliques
depuis 1969. Inventeur du Daquacryl, résine de finition très résistante avec une brillance incomparable {% endblock %}
{% block body %} {% include 'menu/_header.html.twig' %}

<button class="btn-shop">
  <img src="/images/icon_boutique_35px.png" class="icon-shop" />
  <a href="https://www.davidlange.com/" class="shop">Accéder à la boutique en ligne</a>
</button>

<div class="content-home">
  <h1 class="titre-home">Spécialiste<br />thermoformage <br />et<br />résine acrylique<br />depuis 1969.</h1>
  <div class="carousel">
    <div>
      <img
        src="/images/photos/Portes_DavidLange_Dacquacryl.jpg"
        alt="Portes d'un meuble buffet bas blanc en Daquacryl qui se chevauchent"
      />
    </div>
    <div>
      <img
        src="/images/photos/Chrome_DavidLange_Daquacryl.jpg"
        alt="Elements chromés présent sur un meuble en Daquacryl bleu"
      />
    </div>
    <div>
      <img
        src="/images/photos/Polissage plexiglass transparent_DavidLange.jpg"
        alt="Polissage plexiglass transparent"
      />
    </div>
  </div>
</div>

{% include 'menu/_footer.html.twig' %} {% endblock %} {% block javascripts %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script>
  $(document).ready(function () {
    $(".carousel").slick({
      centerMode: true,
    });
  });

  $(".center").slick({
    centerMode: true,
    centerPadding: "60px",
    slidesToShow: 4,

    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: "40px",
          slidesToShow: 4,
        },
      },
      {
        breakpoint: 480,
        settings: {
          arrows: false,
          centerMode: true,
          centerPadding: "40px",
          slidesToShow: 1,
        },
      },
    ],
  });
</script>

{% endblock %}
