{% extends 'base.html.twig' %}

{% block title %}
    David Lange : Le spécialiste du thermoformage et des résines acryliques depuis 1969. Inventeur du Daquacryl, résine de finition très résistante avec une brillance incomparable
{% endblock %}

{% block body %}
    {% include 'menu/_menu.html.twig' %}
    

    <ul>
        <li>
            <a href="https://www.davidlange.com/">Accéder à la boutique en ligne</a>
        </li>
    </ul>

    <h1>Spécialiste thermoformage  et résine acrylique depuis 1969.</h1>
    



{% endblock %}
