{% extends 'base.html.twig' %} {% block title %} Nos savoirs-faire {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}
<h1 class="titre">Notre savoir-faire</h1>
<h2>Le thermoformage</h2>
{% include 'menu/_footer.html.twig' %} {% endblock %}
