{% extends 'base.html.twig' %} 

{% block title %} Actualité n°{{ id }} 
{% endblock %} 

{% block body %} 
    {% include 'menu/_header.html.twig' %}
    <h1>Actualité n°{{id}}</h1>
    <p>texte actualité</p>
    
{% endblock %}
