{% extends 'base.html.twig' %} 

{% block title %}
    {{actualite.titre}}
{% endblock %} 

{% block body %} 
    {% include 'menu/_header.html.twig' %}
    <button>
        Retour
    </button> 
    <h1>{{actualite.titre}}</h1>
    <p>{{actualite.contenu}}</p>
    
{% endblock %}
