{% extends 'base.html.twig' %} {% block title %}
{{ emploi.titre }}
{% endblock %} {% block body %} {% include 'menu/_header.html.twig' %}
<button>Retour</button>
<h1>{{ emploi.titre }}</h1>
<p>{{ emploi.descriptif }}</p>
{% include 'menu/_footer.html.twig' %} {% endblock %}
