{% extends 'base.html.twig' %} 

{% block title %} 
    {{emploi.titre}}
{% endblock %} 

{% block body %} 
    {% include 'menu/_header.html.twig' %}
    <h1>{{emploi.titre}}</h1>
    <p>{{emploi.descriptif}}</p>
    
{% endblock %}
