{% extends 'base.html.twig' %} 

{% block title %} Emploi n°{{ id }} 
{% endblock %} 

{% block body %} 
    {% include 'menu/_header.html.twig' %}
    <h1>Emploi n°{{id}}</h1>
    <p>descriptif emploi</p>
    
{% endblock %}
