{% extends 'base.html.twig' %} {% block title %} Accueil client Rochebobois {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}

<h1 class="center">Bienvenue sur votre accueil client</h1>
<button class="logout">
  <a href="/logout">Déconnexion</a>
</button>
<h2 class="center">Cliquez sur une des rubriques ci-dessous pour accéder à son contenu</h2>

<div class="btn-client">
  <button class="video-sav btn-actif btn-roche">
    <a href="/videos">Vidéos SAV</a>
  </button>
  <button class="fiches-produit btn-inactif btn-roche">Fiches produit</button>
  <button class="nouveautes btn-inactif btn-roche">Nouveautés</button>
</div>
{% endblock %}
