{% extends 'base.html.twig' %} {% block title %}Vidéos SAV {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}

<div class="title-client">
  <h1 class="titre">Retrouvez les vidéos pour les SAV les plus courrents</h1>
  <form action="/app_logout">
    <button type="submit" class="logout">Déconnexion</button>
  </form>
</div>

{% endblock %}
