<footer class="footer">
  <ul class="nav-footer">
    <li>
      <a href="/" class="menu4">Plan du site</a>
    </li>
    <li>
      <a href="/mentions" class="menu4">Mentions légales</a>
    </li>
    <li>
      <a href="/" class="menu4">Label EPV</a>
    </li>
    <li>
      <a href="/" class="menu4">Thermoformage</a>
    </li>
    <li>
      <a href="/" class="menu4">Daquacryl®</a>
    </li>
    <li>
      <a href="/galerie" class="menu4">Galerie</a>
    </li>
    <li>
      <a href="/contact" class="menu4">Contact</a>
    </li>
  </ul>
  <span class="follow">
    <p>Suivez nous :</p>
    <ul class="networks">
      <li>
        <a href="https://www.facebook.com/davidlangemanufacture/" target="_blank">
          <img src="/images/icon-facebook.png" class="social" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/davidlangemanufacture/?hl=fr" target="_blank">
          <img src="/images/icon-instagram.png" class="social" alt="Instagram" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/davidlange/?originalSubdomain=fr" target="_blank">
          <img src="/images/icon-linkedin.png" class="social" alt="Linkedin" />
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.fr/DLmanufacture/_created/" target="_blank">
          <img src="/images/icon-pinterest.png" class="social" alt="Pinterest" />
        </a>
      </li>
    </ul>
  </span>
  <div class="bas-page">
    <div class="accroche">Spécialiste du thermoformage et des résines acrylique depuis 1969.</div>
    <div class="copyright">Copyright @Sonia Plagne_Tous droits réservés_2022</div>
  </div>
</footer>
