<header class="header">
  <div class="acces">
    <a href="/accès privé" class="linkacces"
      >Accès privé
      <img
        src="/images/icone_avatar_acces.png"
        class="iconacces"
        alt="icone pour l'accès privé représentant un rond avec un
      avatar mixte"
      />
    </a>
  </div>

  <div class="bandeau">
    <a href="/" class="logo">
      <img src="/images/logo_DavidLange_blanc.png" alt="logo david lange" />
    </a>
    <nav class="navbar">
      <ul class="nav">
        <li>
          <a href="/" class="maison">
            <img src="/images/icon_maison_blanc_40px.png" alt="icone en forme de maison indiquant le retour à la page d'accueil"/>
          </a>
        </li>
        <li><a href="/savoir-faire" class="menu">Savoir-faire</a></li>
        <li><a href="/histoire" class="menu">Histoire</a></li>
        <li><a href="/emploi" class="menu">Emploi</a></li>
        <li><a href="/actualités" class="menu">Actualités</a></li>
        <li><a href="/contact" class="menu">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

{#
<link
  rel="icon"
  href="{{ asset('images/icon_maison_blanc.svg') }}"
  alt="icone maison pour revenir sur la page d'accueil"
/>
#}
