<header class="header">
  <div class="acces">
    <a href="/login" class="linkacces"
      >Accès privé
      <img
        src="/images/icone_avatar_acces.png"
        class="iconacces"
        alt="icone pour l'accès privé représentant un rond avec un
      avatar mixte"
      />
    </a>
  </div>

  <div class="bandeau">
    <a href="/" class="logo">
      <img src="/images/logo_DavidLange_blanc.png" alt="david lange" />
    </a>
    <nav class="navbar">
      <ul class="nav">
        <!--
        <li>
          <a href="/" class="maison">
            <img
              src="/images/icon_maison_blanc_40px.png"
              alt="icone en forme de maison indiquant le retour à la page d'accueil"
            />
          </a>
        </li>
        -->
        <li>
          <a href="/savoir-faire" class="menu">Savoir-faire</a>
          <div class="sous-menus">
            <ul class="sous-menu1">
              <li>
                <a href="/savoir-faire/thermoformage" class="menu2">Thermoformage</a>
                <ul class="sous-menu2">
                  <li>
                    <a href="/savoir-faire/thermoformage/pmma" class="menu3">PMMA</a>
                  </li>
                  <li>
                    <a href="/savoir-faire/thermoformage/resine-acrylique" class="menu3">Résine Acrylique</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/savoir-faire/soudage" class="menu2">Soudage</a>
              </li>
              <li>
                <a href="/savoir-faire/conception-et-realisation-de-mobilier" class="menu2"
                  >Conception et réalisation de mobilier</a
                >
              </li>
              <li>
                <a href="/savoir-faire/bureau-d-etudes" class="menu2">Bureau d'études</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="/histoire" class="menu">Histoire</a></li>
        <li><a href="/emploi" class="menu">Emploi</a></li>
        <li><a href="/actualites" class="menu">Actualités</a></li>
        <li><a href="/contact" class="menu menu-contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
