{% extends 'base.html.twig' %} {% block title %} Actualités {% endblock %} {% block body %} {% include
'menu/_header.html.twig' %}

<h1 class="titre">Retrouvez l'ensemble de nos actualités</h1>

{% if actualites is defined %}
<div id="col">
  <ul>
    {% for actualite in actualites %}
    <li>
      <a href="{{ path('vue_actualite', { id: actualite.id }) }}" class="liste">{{ actualite.titre }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endif %} {% include 'menu/_footer.html.twig' %} {% endblock %}
