{% extends 'base.html.twig' %} {% block title %}
{{ actualite.titre }}
{% endblock %} {% block body %} {% include 'menu/_header.html.twig' %}
<a href="/actualites" class="btn-retour">Retour</a>
<h1>{{ actualite.titre }}</h1>
<p>{{ actualite.contenu }}</p>

{% include 'menu/_footer.html.twig' %} {% endblock %}
